:root{
    --color-fonts-primary: #5B5766;
    --color-fonts-secondary: #554D89;
    --color-white: white;
    --bg-color-gradient: linear-gradient(45deg, rgba(104,82,237,1) 0%, rgba(104,82,237,1) 50%, rgba(186,67,252,1) 100%);
    --bg-color-secondary: #6852ED;
    --width-content: 59.375%;
    --width-container: 31.57%;
}

/* Flex -------------------------*/
.d-flex{
    display: flex;
}

.jc-between{
    justify-content: space-between;
}

.jc-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

/* Fonts ------------------------*/
.font-poppins{
    font-family: 'Poppins', sans-serif;
}

/* Margin / Padding -------------*/
.m-auto{
    margin: auto;
}

.m-none{
    margin: 0;
}

/* Width / height ---------------*/
.w-50{
    width: 50%;
}

/* Body -------------------------*/
a{
    color: var(--color-fonts-primary);
    text-decoration: none;
}

ul{
    list-style: none;
    padding: 0;
}

body{
    margin: 0;
    font-family: 'Nunito', sans-serif;
    color: var(--color-fonts-primary);
    overflow-x: hidden;
}

.button{
    background: var(--bg-color-gradient);
    border: none;
    border-radius: 40px;
    height: 3.125rem;
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Header -----------------------*/
header{
    width: var(--width-content);
}

header > nav{
    height: 4.355rem;
    align-items: end;
}

header ul{
    width: 42.19%;
    justify-content: space-around;
    height: 100%;
}

header li{
    width: 100%;
    display: flex;
    align-items: end;
}

header li:hover > a{
    color: var(--color-fonts-secondary);
    font-weight: bold;
}

header li:hover{
    border-image: var(--bg-color-gradient) 1 0 0/ 1px;
}

header div{
    height: 57%;
    width: 32.45%;
    border: 1px solid #D5D5D5;
    border-radius: 25px;
    padding: 0 1.25rem;
}

header input{
    border: none;
    background: transparent;
}

body > div{
    width: 1369px;
    height: 673px;
    background-color: var(--bg-color-secondary);
    border-radius: 336.5px;
    position: absolute;
    right: -352px;
    top: -62px;
    transform: rotate(-45deg);
    z-index: -1;
}

/* Main --------------------------------*/
#consultation{
    margin-top: 18.75rem;
    margin-bottom: 21.125rem;
    margin-left: 24.375rem;
    width: 22.7%;
}

#consultation > h2{
    color: var(--color-fonts-secondary);
    font-size: 3.125rem;
    font-weight: bold;
    margin: 0;
}

#consultation > p{
    font-size: 1.375rem;
    line-height: 2.0625rem;
}

#consultation > div a{
    margin-left: 1.875rem;
    color: var(--color-fonts-secondary);
}

#price{
    width: var(--width-content);
    margin-bottom: 7.5rem;
}

#price > div{
    width: var(--width-container);
    height: 38.5rem;
    border-radius: 10px;
    box-shadow: 0 0 20px #E1E4ED;
    padding: 3.75rem;
    box-sizing: border-box;
}

#price h4{
    color: var(--color-fonts-secondary);
    font-size: 1.25rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

.line{
    width: 2.5rem;
    height: 2px;
    background-color: #BA43FC;
}

#price > div > p:first-of-type{
    font-size: 3.125rem;
    color: var(--color-fonts-secondary);
    margin: 0;
    font-weight: bold;
}

#price > div > p:nth-of-type(2){
    margin: 0 0 3.125rem;
}

#price > div > ul{
    margin-bottom: 3.625rem;
}

#price > div > ul > li{
    margin: 0 0 .625rem 1.875rem;
}

#price > div > div > p{
    height: 1.625rem;
    font-size: .625rem;
    color: #EF7171;
    border-radius: 13px;
    background-color: rgba(225, 228, 237, .6);
    margin: 0;
    font-weight: bold;
    padding: 0 10px;
}

#testimonial{
    background-color: rgba(225, 228, 237, .3);
    margin-bottom: 7.5rem;
    height: 33.4375rem;
}

#testimonial > div:first-child{
    width: 39.0625%;
    text-align: center;
}

#testimonial h3{
    color: var(--color-fonts-secondary);
    font-size: 2.125rem;
}

#testimonial > div > div{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: #6852ED;
    margin-top: 2.375rem;
}

#testimonial h5{
    color: var(--color-fonts-secondary);
    font-size: 1.25rem;
}

/*
#testimonial > div:nth-child(2){
    position: absolute;
    top: 84.9375rem;
    right: -5.5625rem;
    width: 360px;
    rotate: -135deg;
    opacity: .3;
    z-index: -5;
}

#testimonial > div:nth-child(3){
    position: absolute;
    top: 127.5625rem;
    left: 1.5rem;
    opacity: .3;
    z-index: -1;
}
*/

#services > div{
    width: var(--width-content);
    height: 32.375rem;
}

#services > div > div{
    width: var(--width-container);
}

#services > div > div{
    flex-direction: column;
}

#services > div > div:nth-child(2){
    justify-content: end;
}

#services > div > div:nth-child(1) > div{
    margin-bottom: 1.875rem;
}

#services > div > div:nth-child(2) > div{
    margin-top: 1.875rem;
}

#services > div > div > div{
    border-radius: 10px;
    box-shadow: 0 0 20px #E1E4ED;
    height: 44.2%;
}

.hover{
    display: none;
}