:root{
    --color-fonts-primary: #5B5766;
    --color-fonts-secondary: #554D89;
    --color-white: white;
    --bg-color-gradient: linear-gradient(45deg, rgba(104,82,237,1) 0%, rgba(104,82,237,1) 50%, rgba(186,67,252,1) 100%);
    --bg-color-secondary: #6852ED;
    --width-container: 31.57%;
}

/* Flex -------------------------*/
.d-flex{
    display: flex;
}

.jc-between{
    justify-content: space-between;
}

.jc-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

/* Fonts ------------------------*/
.font-poppins{
    font-family: 'Poppins', sans-serif;
}

/* Margin / Padding -------------*/
.m-auto{
    margin: auto;
}

.m-none{
    margin: 0;
}

/* Width / height ---------------*/
.w-50{
    width: 50%;
}

.content{
    width: 100%;
    max-width: 1140px;
}

/* Body -------------------------*/
a{
    color: var(--color-fonts-primary);
    text-decoration: none;
}

ul{
    list-style: none;
    padding: 0;
}

body{
    margin: 0;
    font-family: 'Nunito', sans-serif;
    color: var(--color-fonts-primary);
    overflow-x: hidden;
}

.button{
    background: var(--bg-color-gradient);
    border: none;
    border-radius: 40px;
    height: 3.125rem;
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Header -----------------------*/

header > nav{
    height: 4.355rem;
    align-items: end;
}

header ul{
    width: 42.19%;
    justify-content: space-around;
    height: 100%;
}

header li{
    width: 100%;
    display: flex;
    align-items: end;
}

header li:hover > a{
    color: var(--color-fonts-secondary);
    font-weight: bold;
}

header li:hover{
    border-image: var(--bg-color-gradient) 1 0 0/ 1px;
}

header div{
    height: 57%;
    width: 32.45%;
    border: 1px solid #D5D5D5;
    border-radius: 25px;
    padding: 0 1.25rem;
}

header input{
    border: none;
    background: transparent;
}

body > div{
    width: 1369px;
    height: 673px;
    background-color: var(--bg-color-secondary);
    border-radius: 336.5px;
    position: absolute;
    right: -352px;
    top: -62px;
    transform: rotate(-45deg);
    z-index: -1;
}

/* Main --------------------------------*/
#consultation{
    margin-top: 18.75rem;
    margin-bottom: 21.125rem;
    margin-left: 24.375rem;
    width: 22.7%;
}

#consultation > h2{
    color: var(--color-fonts-secondary);
    font-size: 3.125rem;
    font-weight: bold;
    margin: 0;
}

#consultation > p{
    font-size: 1.375rem;
    line-height: 2.0625rem;
}

#consultation > div a{
    margin-left: 1.875rem;
    color: var(--color-fonts-secondary);
}

#price{
    height: 46rem;
    background-color: #fff;
}

#price > div > div{
    width: var(--width-container);
    height: 38.5rem;
    border-radius: 10px;
    box-shadow: 0 0 20px #E1E4ED;
    padding: 3.75rem;
    box-sizing: border-box;
}

#price h4{
    color: var(--color-fonts-secondary);
    font-size: 1.25rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

.line{
    width: 2.5rem;
    height: 2px;
    background-color: #BA43FC;
}

#price > div > div > p:first-of-type{
    font-size: 3.125rem;
    color: var(--color-fonts-secondary);
    margin: 0;
    font-weight: bold;
}

#price > div > div > p:nth-of-type(2){
    margin: 0 0 3.125rem;
}

#price > div > div > ul{
    margin-bottom: 3.625rem;
}

#price > div > div > ul > li{
    margin: 0 0 .625rem 1.875rem;
}

#price > div > div > div > p{
    height: 1.625rem;
    font-size: .625rem;
    color: #EF7171;
    border-radius: 13px;
    background-color: rgba(225, 228, 237, .6);
    margin: 0;
    font-weight: bold;
    padding: 0 10px;
}

#testimonial{
    background-color: rgba(225, 228, 237, .3);
    height: 33.4375rem;
}

#testimonial > div:first-child{
    width: 39.0625%;
    text-align: center;
}

#testimonial h3{
    color: var(--color-fonts-secondary);
    font-size: 2.125rem;
}

#testimonial > div > div{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: #6852ED;
    margin-top: 2.375rem;
}

#testimonial h5{
    color: var(--color-fonts-secondary);
    font-size: 1.25rem;
}

#testimonial > div:nth-child(2){
    background-image: url(media/batman-big-size.jpg);
    position: absolute;
    top: 84.9375rem;
    right: -5.5625rem;
    width: 360px;
    height: 900px;
    border-radius: 180px;
    rotate: -135deg;
    opacity: .3;
    z-index: -1;
}

#testimonial > div:nth-child(3){
    background-image: url(media/batman-profil.jpg);
    width: 241px;
    height: 241px;
    border-radius: 120px;
    position: absolute;
    top: 127.5625rem;
    left: 1.5rem;
    opacity: .3;
    z-index: -1;
}

#services{
    padding-top: 7.5rem;
    background-color: white;
}

#services > div{
    height: 32.375rem;
    margin-bottom: 7.5rem;
}

#services > div > div{
    width: var(--width-container);
}

#services > div > div{
    flex-direction: column;
}

#services > div > div:nth-child(2){
    justify-content: end;
}

#services > div > div:nth-child(1) > div{
    margin-bottom: 1.875rem;
}

#services > div > div:nth-child(2) > div{
    margin-top: 1.875rem;
}

#services > div > div:nth-child(3){
    margin-top: auto;
    margin-bottom: auto;
}

#services > div > div > div{
    border-radius: 10px;
    box-shadow: 0 0 20px #E1E4ED;
    height: 44.2%;
    box-sizing: border-box;
    padding: 15% 8.33% 0;
}

#services h4, h5{
    color: var(--color-fonts-secondary);
}

#services h5{
    font-size: 1.375rem;
}

#services h4{
    font-size: 2.125rem;
}

.hover{
    display: none;
}

#services .button{
    width: 50%;
}

#services > div > div > div:hover{
    color: var(--color-white);
    background: var(--bg-color-gradient);
    height: 47.68%;
    padding-top: 0;
} 

#services > div > div > div:hover > .hover{
    display: initial;
}

#services > div > div > div:hover > h5{
    color: var(--color-white);
}

#community > div{
    margin-bottom: 7.5rem;
}

#community span{
    width: 57.1%;
    height: 29.625rem;
    background-image: url(media/batman-illustration.jpg);
    background-repeat: no-repeat;
    border-radius: 237px 237px 237px 80px;
}

#community > div > div{
    width: 36.5%;
}

#community h4{
    color: var(--color-fonts-secondary);
    font-size: 2.125rem;
}

#community a{
    margin-left: 1.875rem;
    color: var(--color-fonts-secondary);
}

/* Footer ----------------------------*/
footer > form{
    background-color: var(--bg-color-secondary);
    border-radius: 10px;
    height: 6.875rem;
    box-sizing: border-box;
    padding: 1.875rem 1.875rem 1.875rem 5.1875rem;
    margin:auto auto 6.25rem;
}

footer input[type="email"]{
    background-color: transparent;
    border: none;
    color: var(--color-white);
    font-size: 1.375rem;
}

footer input[type="submit"]{
    background-color: transparent;
    color: var(--color-white);
    border: solid 3px #707070;
    border-radius: 40px;
    height: 100%;
    width: 9%;
}

footer > div > div:first-child{
    box-sizing: border-box;
    padding-right: 2.93rem;
}

footer > div:first-of-type > div{
    width: var(--width-container);
    height: 11.68rem;
}

footer h6{
    font-size: 1.126rem;
    color: var(--color-fonts-secondary);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

footer address{
    box-sizing: border-box;
    padding-left: 2.93rem;
    padding-right: 2.93rem;
}

footer > div > div > div{
    flex-direction: column;
    flex-wrap: wrap;
    height: 80%;
}

footer > div > div > div > p{
    margin-top: 0;
}

footer > div > div > div > p > a{
    color: var(--color-fonts-secondary);
}

footer > div > div > div > p:hover > a{
    color: #EF7171;
}

footer > div:nth-of-type(2){
    margin: 0 auto 2.5rem;
}

footer > div:nth-of-type(2) > div{
    width: 7.1%;
    border: solid 1px #D8D8D8;
    margin-bottom: 2.5rem;
}

footer > div:nth-of-type(2){
    font-size: .875rem;
}
footer span:first-of-type{
    color: #716C80;
}

footer span:nth-of-type(2){
    color: var(--bg-color-secondary);
}

/* Media Queries ---------------------------*/
@media screen and (max-width: 1199.98px){
    .content{
        max-width: 900px;
    }
}